*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

/* page1 */
.page1{
    width: 100%;
    height: 100vh;
    background: darkblue;
}

/* page2 */
.page2{
    width: 100%;
    height: 100vh;
    background: darkmagenta;
}

/* fixed btn */
.fixed-btn{
    width: 100px;
    height: 100px;
    background: darkcyan;
    position: fixed;
    bottom: 25px;
    right: 25px;
    border-radius: 50%;
    pointer-events: none;
    transition: .3s;
    opacity: 0;
    transform: translateY(50px);
}

.fixed-btn.active{
    pointer-events: auto;
    opacity: 1;
    bottom: 25px;
    transform: translateY(0);
}

